<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="root"></div>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script src="/javascripts/build/bundle.js"></script>
  </body>
</html>
