<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <p>
    <%=message %>
  </p>
  <p>Login</p>
  <form method="POST" action="login">
    <input type="text" name="username" placeholder="Account">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</body>

</html>
